# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Estudos\Tecnologia\Faculdade\INFNET_GIT\Desenvolvimento_Java\Fundamentos do Desenvolvimento Java\TP3_v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
